nltk==3.4
ipdb==0.13.4
torch==1.7.1
spacy==2.3.4
orjson==3.4.6
Cython==0.29.6
inflect==5.0.2
scispacy==0.3.0
termcolor==1.1.0
Unidecode==1.1.1
transformers==3.4.0
stop-words==2018.7.23
google-cloud-bigquery==3.3.1
click==8.0.1
spacy-langdetect==0.1.1